
.col-left-fixed {
    width: 230px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 40px;
    background: #0f9cb3;
    font-size: 13px;
    border-top: rgba(255,255,255,.3) 1px solid;
    border-right: rgba(255,255,255,.3) 1px solid;
    z-index: 10;
    padding: 43px 0 50px 0;
}


.col-left-fixed ul:first-child {
    border-bottom: rgba(255,255,255,.3) 1px solid;
    float: left;
    width: 100%;
}


.col-left-fixed ul {
    padding: 0;
    margin: 0;
}

.col-left-fixed ul li {
    display: list-item;
    list-style-type: none;
}

.col-left-fixed ul li a {
    color: #fff;
    width: 100%;
    float: left;
    position: relative;
    padding: 12px 10px 12px 50px;
    min-height: 42px;
}

.col-left-fixed ul li a:hover, .col-left-fixed ul li a:focus, .col-left-fixed ul li.active a {
  text-decoration: none;
  background: #11a8c1;
}

.col-left-fixed ul li a .icon {
    font-size: 20px;
    margin-right: 5px;
    position: absolute;
    top: 11px;
    left: 13px;
}

.col-left-fixed .glyphicon {
  position: absolute;
  top: 13px;
  left: 18px;
  font-size: 16px;
}

.list-services {
    height: 100%;
    overflow: auto;
    float: left;
}

.fxs-sidebar.toggled .list-services::-webkit-scrollbar { 
    display: none; 
}

.col-left-fixed .list-services ul {
    border-bottom:none;
}

.list-services .title.big {
    text-transform: uppercase;
}

/* toggled */
/* toggled */
/* toggled */
/* .col-left-fixed.toggled ul li a .title {
  display: none;
}

.col-left-fixed.toggled ul li a {
padding: 12px 10px 12px 40px;
}

.col-left-fixed.toggled {
  width: 50px;
  left: 0;
} */

.main.toggled {
  padding-left: 50px;
}
.col-left-fixed  ul li a span.title {
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    width: 170px;
    white-space: nowrap;
}

.bt-collapsed {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.fxs-sidebar.toggled .col-left-fixed {
    width: 50px;
}

.fxs-sidebar.toggled .col-left-fixed  ul li a span.title {
    display: none;
}

.fxs-sidebar.toggled .col-left-fixed ul li a {
  padding: 12px 10px 12px 39px;
}

.fxs-sidebar.toggled .list-services::-webkit-scrollbar { 
    display: none; 
}




/* left-menu for mobile */
/* left-menu for mobile */
/* left-menu for mobile */


.fxs-sidebar.mobile {
    width: 50px;
}

.fxs-sidebar.mobile .col-left-fixed {
    width: 50px;
}

.fxs-sidebar.mobile .col-left-fixed ul li a span.title {
    display: none;
}

.fxs-sidebar.mobile.toggled {
    width: 230px;
}

.fxs-sidebar.mobile.toggled .col-left-fixed {
    width: 230px;
}

.fxs-sidebar.mobile.toggled .col-left-fixed ul li a span.title {
    display: block;
}

.fxs-sidebar.mobile .col-left-fixed ul li a span.title {
    padding: 0 0 0 5px;
}

.fxs-sidebar.mobile.toggled .col-left-fixed ul li a, .fxs-sidebar.mobile .col-left-fixed ul li a {
    padding: 12px 10px 12px 39px;
}

