<div class="left" class="fxs-sidebar">
    <div class="col-left-fixed" style="background: '{{menuElements.MauNhat}}'">
        <ul>
            <li>
                <a id="menu-toggle" (click)="isToggled = !isToggled">
                              <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                        </a>
            </li>
        </ul>
        <div class="list-services">
            <ul *ngFor="let element of menuElements">
                <li *ngFor="let item of element?.items">
                    <a href="{{item?.url}}" style="cursor: pointer">
                              <span class="fa fa-fw {{item.IconText}} icon" aria-hidden="true"></span>
                              <span class="title">{{item.Ten}}</span>
                        </a>
                </li>
            </ul>
        </div>
    </div>
</div>
