<ng-container *ngIf="winInfo">
    <div class="fxs-blade-content-container">
        <div class="fxs-block" [style.width]="winInfo.DoRong+'px'">
            <app-window [name]="winInfo.Ten" [icon]="winInfo.IconText" url="/apps">
                <iframe (click)="iframeClickHandler()" #iframe class="fstyle" style="border:none" width="100%" height="100%" [src]="winInfo.LinkIFrame | safe: 'resourceUrl'"
                    #iframe></iframe>
            </app-window>
        </div>

        <ng-container>
            <div class="fxs-block" [style.width]="winInfo.DoRong+'px'">
                <app-window [name]="winInfo.Ten" [icon]="winInfo.IconText" url="/apps">
                    <app-ChildFrame></app-ChildFrame>
                    <!-- <iframe (click)="iframeClickHandler()" #iframe class="fstyle" style="border:none" width="100%" height="100%" [src]="winInfo.LinkIFrame | safe: 'resourceUrl'" #iframe></iframe> -->
                </app-window>
            </div>
        </ng-container>
    </div>
</ng-container>
