<app-window [name]="ChiTietBenh?.TenBenh" [url]="url">
    <!-- loading -->
    <div class="content-wr">
        <div style="text-align: center">
            <p class="lead" *ngIf="loading">
                <img src="assets/66.gif">
            </p>
        </div>
        <!-- Start content left -->
        <div class="bt-bar">
            <!-- <a [routerLink]= "['taomoi']" href="#" class="bt-features"><span class="fa fa-plus icon"></span>Tạo mới</a> -->
            <a [routerLink]="['baocao']" href="#" class="bt-features"><span class="fa fa-flag icon"></span>Report</a>
            <a class="bt-features disable"><span class="fa fa-pencil-square icon"></span>Set trạng thái</a>
            <a class="bt-features disable"><span class="fa fa-history icon"></span>Lịch sử sửa đổi</a>
            <!-- <a href="#" class="bt-features"><span class="fa fa-book icon"></span>Bài viết</a> -->
            <a class="bt-features disable"><span class="fa fa-star icon"></span>Theo dõi</a>
            <!-- <share-button class="bt-features share" [button]="fbButton" ><span class="fa fa-fw fa-facebook-f icon"></span></share-button>
            <share-button class="bt-features"  [button]="gPlusButton"></share-button> -->
            <div>
                <!-- <a href="https://www.facebook.com/dialog/feed?
                app_id=123454808277990
                &display=page&amp;caption="+ {{name}} +"
                &description="+ {{description}} +"
                &link="+ {{link}} +"
                &redirect_uri=" + {{link}}
                    target="_blank"> -->
                <button class="bt-features share" md-button shareButton="facebook">
                <span class="fa fa-facebook-official icon"></span>
                Facebook
            </button>
                <button class="bt-features share" md-button shareButton="googleplus">
                    <i class="fa fa-google icon"></i>
                    Google+
                </button>
            </div>
        </div>
        <div class="content-left" *ngIf="!loading">
            <div style="width:100%; float:left; overflow:auto; height:100%;">
                <!-- load mô tả chi tiết bệnh -->
                <div class="content-main">
                    <div class="content-box-main scrollbar-custom">
                        <div class="title">
                            <h2>{{ChiTietBenh?.TenBenh}}</h2>
                            <a (click) = "edit()" class="glyphicon glyphicon-pencil"></a>
                        </div>
                        <hr class="thin bg-grayLighter">
                        <div [innerHTML]="ChiTietBenh?.ChiTiet"></div>
                    </div>
                </div>
                <div class="content-right disable">
                    <div class="title">
                        <h2>Phương pháp chữa trị</h2>
                    </div>
                    <div class="title">
                        <h2>Chuyên khoa</h2>
                    </div>
                    <div class="title">
                        <h2>Các chương trình y tế liên quan... (nghiên cứu, khám chữa)</h2>
                        <div class="theodoisua">

                        </div>
                    </div>
                    <div class="title">
                        <h2>Các trường hợp cụ thể (n case)</h2>
                        <div class="theodoisua">

                        </div>
                    </div>
                    <div class="title">
                        <h2>Trang thiết bị và dụng cụ y tế liên quan </h2>
                    </div>
                    <div class="title">
                        <h2>Triệu chứng chính...</h2>
                    </div>
                    <div class="title">
                        <h2>Các bệnh liên quan</h2>
                    </div>
                    <div class="title">
                        <h2>Các thuốc liên quan </h2>
                    </div>
                    <div class="title">
                        <h2>Các sai lầm hay gặp... </h2>
                    </div>
                    <div class="title">
                        <h2>Các bài thuốc vị thuốc liên quan </h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- end content left -->
        <app-forum-bar *ngIf="!loading">
        </app-forum-bar>
    </div>
</app-window>
