<div class="fxs-blade-content-container">
    <div class="fxs-block">
        <app-window [icon]="iconText" [name]="name">
            <app-danh-sach-benh></app-danh-sach-benh>
        </app-window>
    </div>
    <div class="fxs-block large">
        <app-window  [name]="name">
            <app-chi-tiet-benh></app-chi-tiet-benh>
        </app-window>
    </div>
    <!-- <div class="fxs-block"></div>
    <div class="fxs-block"></div>
    <div class="fxs-block"></div>
    <div class="fxs-block"></div>
    <div class="fxs-block"></div> -->

</div>
