<div class="sign-in wr">
  <div class="inner">
    <div class="logo">
      <a [routerLink]="['']">
	         	<img src="https://sharinglife.blob.core.windows.net/images/file_cfdebe4b-a453-4e80-a31f-31cfaea0edce.png">
	         	<span>Trưởng khoa</span>
	         </a>
    </div>
    <h3 class="title">Quên mật khẩu</h3>
    <span _ngcontent-c2="" class="or">
      Chúng tôi sẽ gửi tới điện thoại của bạn một mã xác thực để giúp bạn cài đặt lại mật khẩu.
    </span>
    <input type="text" placeholder="Nhập số điện thoại">
    
    <button>Tiếp tục</button>
    <div class="form-group">    
        <a [routerLink]="['/auth/signIn']">
           Thoát
         </a>
    </div>  
    
  </div>


</div>