<div class="sign-in wr">
    <div class="inner">
        <div class="logo">
            <a [routerLink]="['']">
	         	<img src="{{elements.Logo}}">
	         	<span>{{elements.ThuongHieu}}</span>
	         </a>
    </div>
    <h3 class="title">Quên mật khẩu</h3>
    <span _ngcontent-c2="" class="or">
      Chúng tôi sẽ gửi tới điện thoại của bạn một mã xác thực để giúp bạn cài đặt lại mật khẩu.
    </span>
    <div class="form-group">
      <input [formControl]="phone" type="text" placeholder="Nhập số điện thoại">
    </div>

    <button (click)="forgotPass()">Tiếp tục</button>
    <div class="form-group">
      <a [routerLink]="['/auth/signIn']">
           Thoát
         </a>
    </div>

  </div>


</div>
