<div class="sign-in wr">
  <div class="inner">
    <div class="logo">
      <a href="start-screen.html">
	         	<img src="https://sharinglife.blob.core.windows.net/images/file_cfdebe4b-a453-4e80-a31f-31cfaea0edce.png">
	         	<span>Trưởng khoa</span>
	         </a>
    </div>
    <h3 class="title">Đăng nhập</h3>
    
    <div class="form-group">
      <span class="alert-text">
        Đảm bảo bạn đã nhập địa chỉ email đúng cách. Địa chỉ email thường giống như ai_do@example.com hoặc ai_do@example.onmicrosoft.com
      </span>
    </div>
    <input type="text" placeholder="Nhập email hoặc số điện thoại">
    <input type="password" placeholder="Nhập mật khẩu">
    <div class="form-group">
      <label class="checkbox">
          <input type="checkbox" checked>
          <span>Giữ tôi luôn đăng nhập</span>
        </label>
    </div>
    <button>Đăng nhập</button>
    <div class="form-group">    
        <a href="#">
           Quên mật khẩu
         </a>
    </div>  
    <div class="form-group">
      <a href="#">
           Tạo tài khoản mới
         </a>
    </div>
    <div class="footer">
      <div class="form-group">
          <span>
               ©2017 Truongkhoa.com
          </span>
      </div>
      <div class="form-group">  
        <a href="#">
          Chính sách bảo mật
        </a>
          <a href="#">
          Điều khoản sử dụng
        </a>
      <div class="form-group">
    </div>
  </div>


</div>