<div class="sign-in wr">
    <div class="inner">
        <div class="logo">
            <a [routerLink]="['']">
	         	<img src="{{elements.Logo}}">
	         	<span>{{elements.ThuongHieu}}</span>
	         </a>
        </div>
        <h3 class="title">Xác thực tài khoản</h3>
        <span _ngcontent-c2="" class="or">
      Một tin nhắn chứa mã xác thực đã được gửi đến số điện thoại của bạn. Vui lòng kiểm tra và nhập mã xác thực.
    </span>
        <form #f="ngForm">
            <input [formControl]="verifyCode" type="text" placeholder="Nhập mã xác thực">
        </form>
        <button (click)="verification()">Hoàn tất</button>
        <div class="form-group">
            <a href="#">
           Gửi lại mã xác thực
         </a>
        </div>
        <div class="form-group">
            <a [routerLink]="['/auth/register']">
           Thoát
         </a>
        </div>
    </div>
</div>
