<div class="sign-in wr">
    <div class="inner">
        <div class="logo">
            <a [routerLink]="['']">
	         	<img src="{{elements.Logo}}">
	         	<span>{{elements.ThuongHieu}}</span>
	         </a>
        </div>
        <h3 class="title">Nhập số diện thoại của bạn</h3>

        <form #f="ngForm">
            <input [formControl]="phone" type="text" placeholder="Nhập số điện thoại...">
        </form>
        <button (click)="verification()">Hoàn tất</button>
        <div class="form-group">
            <a [routerLink]="['/auth/signIn']">
           Thoát
         </a>
        </div>
    </div>
</div>
