<div class="window">
    <div class="title-window" [ngStyle]="{'background': menuElements?.MauNhat}">
        <div style="display:flex; flex-direction: row;">
            <div *ngIf="icon != null">
                <span class="icon"><img src="{{icon}}" aria-hidden="true" style="width: 20px;"></span>
            </div>
            <div>
                <h3 class="big-title" style="cursor: default">{{name}}</h3>
            </div>
            <div>
                <button (click) = "back()" class="bt-close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            </div>

        </div>
    </div>
    <div class="body">
        <ng-content></ng-content>
    </div>
</div>
