<div class="window chuyenkhoa">
    <div class="title-window">
      <h3 class="big-title">Răng - hàm - mặt</h3>
      <button _ngcontent-c7="" class="bt-close">
          <span _ngcontent-c7="" aria-hidden="true" class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
    <div class="body">
      <div class="content-wr">
        <div _ngcontent-c6="" class="bt-bar">
          <a _ngcontent-c6="" class="bt-features" href="#"><span _ngcontent-c6="" class="fa fa-plus icon"></span>Tạo mới</a>
          <a _ngcontent-c6="" class="bt-features" href="#"><span _ngcontent-c6="" class="fa fa-flag icon"></span>Report</a>
          <a _ngcontent-c6="" class="bt-features" href="#"><span _ngcontent-c6="" class="fa fa-pencil-square icon"></span>Set trạng thái</a>
          <a _ngcontent-c6="" class="bt-features" href="#"><span _ngcontent-c6="" class="fa fa-history icon"></span>Lịch sử sửa đổi</a>
          <a _ngcontent-c6="" class="bt-features" href="#"><span _ngcontent-c6="" class="fa fa-star icon"></span>Theo dõi</a>
        </div>
        <div class="content-left">
          <div style="width: 100%;float: left;overflow: auto;height: 100%;">
            <div class="content-main">
              <div class="title">
                <h2>Khoa răng - hàm - mặt</h2>
                <a class="glyphicon glyphicon-pencil" href="#"></a>
              </div>
              
  
              <div>
                <div _ngcontent-c6="" class="title-row">
                  <h2 _ngcontent-c6="" class="text-light">Tổng quan</h2>
                </div>
                <dd _ngcontent-c6="">
                  <p>
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                    voluptatem sequi nesciunt.
                  </p>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                  <p>
                    - Ut enim ad minima veniam, quis nostrum exercitationem
                  </p>
                  <p>
                    - Ut enim ad minima veniam, quis nostrum exercitationem
                  </p>
                  <p>
                    - Ut enim ad minima veniam, quis nostrum exercitationem
                  </p>
                </dd>
              </div>
  
              
  
            </div>
  
            <div class="content-right">
              <div class="title">
                <h2>Các bệnh răng - hàm - mặt</h2>
                <a class="glyphicon glyphicon-pencil" href="#"></a>
              </div>
              <div class="add-new">
                <input class="add-new" placeholder="Thêm bệnh mới">
                <button class="fa fa-fw  fa-plus"></button>
              </div>
              <div class="list-left-wr">
                <ul class="scrollbar-custom list">
                  <li>
                    <a href="#">
                      <span >Adenovirus</span>
                      <button class="fa fa-fw  fa-trash-o delete"></button>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                        <span >Adenovirus</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span >Adenovirus</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span >Adenovirus</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span >Adenovirus</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span >Adenovirus</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span >Adenovirus</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span >Adenovirus</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span >Adenovirus</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span >Adenovirus</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span >Adenovirus</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span >Adenovirus</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span >Adenovirus</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span >Adenovirus</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span >Adenovirus</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span >Adenovirus</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span >Adenovirus</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span >Adenovirus</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span >Adenovirus</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span >Adenovirus</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span >Adenovirus</span>
                      </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>