.window {
    width: 800px;
    background: #fff;
    border-right: 1px solid #ccc;
    position: relative!important;
    display: block;
    height: 100%;
    float: left;
    overflow: hidden;
}

.button {
    text-decoration: none;
    border: none;
    display: inline-block;
    cursor: pointer;
}

.body {
    position: relative;
    height: calc(100% - 60px);
    overflow: auto;
    margin-top: 60px;
    border-top: solid 1px #eee;
}

.content-wr {
    height: calc(100vh - 85px);
    width: 800px;
    background: #fff;
}

#container {
    font-family: Helvetica;
    font-weight: 100;
}

.title-window {
    float: left;
    width: 100%;
    height: 44px;
    background: #0f9cb3;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 0 55px;
}

.title-window h3 {
    display: block;
    font-size: 1.17em;
    width: 100px;
    font-weight: bold;
}

.big-title {
    font-size: 16px;
    margin: 0;
    font-weight: 600;
    padding: 0;
    line-height: 43px;
    ;
}

input {
    border-radius: 3px;
    width: 300px;
}

.add {
    float: left;
    width: 100%;
    border-bottom: 1px solid white;
    position: relative;
}

.header {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin: 20px 20px 0 20px;
}

.header p {
    font-size: 30px;
    float: left;
    margin: 10px 0 10px 0;
}

.done {
    float: right;
    background-color: #1F69ED;
    color: white;
    padding: 10px;
    font-size: 15px;
    margin: 10px;
    position: absolute;
    right: 10px;
    bottom: -150px;
    border-radius: 3px;
}

.cancel {
    float: right;
    background-color: #EE1212;
    color: white;
    padding: 10px;
    font-size: 15px;
    margin: 10px;
    position: absolute;
    right: 125px;
    bottom: -150px;
    border-radius: 3px;
}

.benh {
    float: left;
    width: 100%;
    border-bottom: 1px solid #dedede;
    margin-bottom: 20px;
}

h3 {
    width: auto;
    padding: 0;
    margin: 0 10px 10px 0;
    font-size: 20px;
    font-weight: 700;
}

.tenbenh {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 20px;
}

.tomtat {
    float: left;
    width: calc(100% - 31px);
    margin-bottom: 10px;
    padding-top: 20px;
}

.text-box {
    float: left;
    width: calc(100% - 40px);
    height: 170px;
    border: 1px solid #ccc;
    padding: 10px;
}

.info {
    float: left;
    width: 100%;
    padding-bottom: 20px;
}

.content {
    padding-left: 20px;
}

.button {
    background-color: orange;
    text-align: center;
    float: left;
    color: white;
    padding: 10px;
    font-size: 15px;
    margin: 10px 0 50px 0;
}

.foot {
    float: left;
    width: 100%;
}

span {
    padding-right: 6px;
}


/* .fr-box fr-basic fr-top {
    height: 300px;
    width: 300px;
} */
