<div class="window">
  <div class="title-window">
    <h3 class="big-title " style="cursor: default ">Thêm bệnh</h3>
  </div>
<a href="#" class="done">
            <span class="glyphicon glyphicon-ok"></span>
            Hoàn tất
          </a>
  <div class="body">
    
    <div class="content-wr">
      <div class="add">
        
        <div class="content">
          <div class="tenbenh">
            <h3>Tên bệnh</h3>
            <form><input type="text" name="" value="" size="30" class="form-control input-sm" /></form>
          </div>
          <div class="tomtat">
            <h3>Tóm tắt</h3>
            <div class="text-box"></div>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="header">
          <h2> Thông tin</h2>
        </div>
        <div class="content">
          <div class="tenbenh">
            <h3>Tiêu đề</h3>
            <form><input type="text" name="" value="" size="30" class="form-control input-sm" /></form>
          </div>
          <div class="tomtat">
            <h3>Nội dung</h3>
            <div class="text-box"></div>
          </div>
             <a class="button" href="#"><span class="glyphicon glyphicon-plus"></span>Thêm thông tin</a>
        </div>
     
      </div>
      
        
     
    </div>
  </div>
</div>
