<!DOCTYPE html>
<html>

<head></head>

<body>
  <div id="container">
    <div class="add">
      <div class="header">
         <p> <span class="glyphicon glyphicon-plus"></span>Thêm bệnh</p>
        <div class="done">
          <p> <span class="glyphicon glyphicon-ok-circle"></span>Hoàn tất</p>
        </div>
      </div>
      <div class="content">
        <div class="benh">
          <h3>Bệnh</h3>
        </div>
        <div class="tenbenh">
          <h3>Tên bệnh</h3>
          <form><input type="text" name="" value="" size="30"class="form-control input-sm" /></form>
        </div>
        <div class="tomtat">
          <h3>Tóm tắt</h3>
        </div>


      </div>
    </div>
    <div class="info">
      <div class="header">
        <p> <span class="glyphicon glyphicon-list-alt"></span>Thông tin</p>

      </div>
      <div class="content">
        <div class="tenbenh">
          <h3>Tiêu đề</h3>
          <form><input type="text" name="" value="" size="30"class="form-control input-sm" /></form>
        </div>
        <div class="tomtat">
          <h3>Nội dung</h3>
        </div>
        
      </div>
    </div>
    <div class="button">
      <div id="click">
        <p><span class="glyphicon glyphicon-edit"></span>Thêm thông tin</p>
      </div>

    </div>
  </div>
</body>

</html>