<div class="fxs-topbar">
    <!-- <div>
    <a [routerLink]="['/']">header</a>
  </div> -->
    <nav  class="navbar navbar-default navbar-fixed-top nav-top"  [ngStyle]="{'background': menuElements?.MauDam}">
        <div class="navbar-header">
            <a class="navbar-brand logo" [routerLink]="['/']">
              <img src="{{menuElements?.Logo}}">
              <span class="app-bar-divider">
                {{menuElements?.ThuongHieu}}
              </span>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="#">
                  Giới thiệu
                </a>
                </li>
                <li>
                    <a href="#">
                  Liên hệ
                </a>
                </li>
            </ul>
            
            <a href="https://www.facebook.com/truongkhoa.vn/?ref=bookmarks" class="fb-like js-fb-like">
                <i class="ico fa fa-fw fa-facebook-official"></i>
                <span>Theo dõi chúng tôi trên facebook</span>
            </a>
                
        </div>
    </nav>
</div>
