<div class="window-baithuoc-wr">
    <app-window [name]="name" [icon]="iconText" [url]="url" [idea]="idea" [urlIdea]="urlIdea" style="width:950px;">
        <div class="col">
            <div class="search-box-top">
                <div class="input-control text full-size">
                    <span class="fa fa-fw fa-search icon icon-search"></span>
                    <input placeholder="Nhập tên bài thuốc..." [formControl]="searchKey" type="text" class="ng-untouched ng-pristine ng-valid">
                </div>
                <div style="padding: 5px 0 0 0;">
                    <span style="font-size: 11px; color: #888; float: right;">
                0/{{TongSoLuongBaiThuoc}} <b class="title-xs">bài thuốc</b>
                </span>
                </div>
                <hr class="thin bg-grayLighter">
            </div>
            <ul class="list" *ngFor="let baithuoc of DsBaiThuoc">
                <li>
                    <a>
                        <span class="title">{{baithuoc.Name}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Hết cột 1 -->

        <div class="col">
            <div class="search-box-top">
                <div class="input-control text full-size">
                    <span class="fa fa-fw fa-search icon icon-search"></span>
                    <input placeholder="Nhập tên vị thuốc..." type="text" class="ng-untouched ng-pristine ng-valid">
                </div>
                <div style="padding: 5px 0 0 0;" >
                    <span style="font-size: 11px; color: #888; float: right;">
                0/{{TongSoLuongViThuoc}} <b class="title-xs">vị thuốc</b>
                </span>
                </div>
                <hr class="thin bg-grayLighter">
            </div>
            <ul class="list" *ngFor="let vithuoc of DsViThuoc" >
                <li>
                    <a href="#">
                        <span class="title">{{vithuoc.Name}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Hết cột 2 -->

        <div class="col">
            <div class="search-box-top">
                <div class="input-control text full-size">
                    <span class="fa fa-fw fa-search icon icon-search"></span>
                    <input placeholder="Nhập tên chế phẩm thuốc..." type="text" class="ng-untouched ng-pristine ng-valid">
                </div>
                <div style="padding: 5px 0 0 0;">
                    <span style="font-size: 11px; color: #888; float: right;">
                0/{{TongSoLuongChePhamThuoc}} <b class="title-xs">chế phẩm thuốc</b>
                </span>
                </div>
                <hr class="thin bg-grayLighter">
            </div>
            <ul class="list" *ngFor = "let chepham of DsChePhamThuoc">
                <li>
                    <a href="#">
                        <span class="title">{{chepham.Name}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Hết cột 3 -->

        <div class="col">
            <div class="search-box-top">
                <div class="input-control text full-size">
                    <span class="fa fa-fw fa-search icon icon-search"></span>
                    <input placeholder="Nhập tên dược thiện..." type="text" class="ng-untouched ng-pristine ng-valid">
                </div>
                <div style="padding: 5px 0 0 0;">
                    <span style="font-size: 11px; color: #888; float: right;">
                0/{{TongSoLuongDuocThien}} <b class="title-xs">dược thiện</b>
                </span>
                </div>
                <hr class="thin bg-grayLighter">
            </div>
            <ul class="list" *ngFor = "let duocthien of DsDuocThien">
                <li>
                    <a href="#">
                        <span class="title">{{duocthien.Name}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Hết cột 4 -->
    </app-window>
</div>
