<div class="sign-in wr">
    <button class="bt-close">
        <span [routerLink] = "['']" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
    <div class="inner">
        <div class="logo">
            <a [routerLink]="['']">
	         	<img src="{{elements.Logo}}">
	         	<span>{{elements.ThuongHieu}}</span>
	         </a>
        </div>
        <h3 class="title">Đăng ký tài khoản</h3>
        <div class="social">
            <a (click)="signIn('facebook')" class="fb">
        <i class="fa fa-fw fa-facebook"></i>
      </a>
            <a (click)="signIn('google')" class="google">
        <i class="fa fa-fw fa-google-plus"></i>
      </a>
            <!-- <a (click) = "signIn('linkedin')" class="linkedin">
        <i class="fa fa-fw fa-linkedin"></i>
      </a> -->
        </div>
        <span class="or">Hoặc</span>
        <form #f="ngForm" (ngSubmit)="registerSubmit()">
            <div class="form-group">
                <input [formControl]="name" type="text" placeholder="Họ & tên">
            </div>
            <div class="form-group">
                <input [formControl]="email" type="text" placeholder="Email">
            </div>
            <!-- <div class="form-group warning" *ngIf="error != null">
        <span class="alert-text">Số điện thoại không hợp lệ!</span>
        <input [formControl]="phone" type="text" placeholder="Số điện thoại">
        <span class="glyphicon glyphicon-exclamation-sign icon-error" data-toggle="tooltip" title="" data-original-title="Email không hợp lệ. Vui lòng nhập lại."></span>
      </div> -->
            <div class="form-group">
                <input [formControl]="phone" type="text" placeholder="Số điện thoại">
            </div>
            <div class="form-group">
                <input [formControl]="password" type="password" placeholder="Mật khẩu">
            </div>
        </form>
        <div class="form-group">
            <label class="checkbox">
          <input type="checkbox" checked>
          <span>Tôi đồng ý với <a [routerLink]="['/policies/terms']">điều khoản sử dụng</a> và <a [routerLink]="['/policies/privacy']">chính sách bảo mật.</a></span>
        </label>
        </div>
        <button (click)="registerSubmit()">Tạo tài khoản</button>

        <div class="footer">
            <div class="form-group">
                <span>
               ©2017 {{elements.ThuongHieu}}
          </span>
            </div>
        </div>


    </div>
