body {
    height: 100%;
}

.fxs-portal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    transition: background .25s ease;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

.fxs-topbar {
    height: 40px;
    position: relative;
    z-index: 250;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 13px;
    background-color: #1c1c1c;
    color: #fff;
}
.fxs-portal-main {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    height: calc(100% - 40px);
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    min-height: 0;
}

.fxs-sidebar {
    z-index: 200;
    position: relative;
    font-size: 13px;
    border-right-width: 1px;
    border-right-style: solid;
    height: 100%;
    box-sizing: border-box;

    overflow: hidden;
    width: 225px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.fxs-panorama {
    -ms-scroll-chaining: none;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    transition: margin .2s ease;
    z-index: 1;
}

.fxs-blade-content-container {
    height: 100%;
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 0;
}

.fxs-block {
    flex: 0 0 auto;
    background-color: #eee;
    width: 320px;
}

.fxs-block.large {
    flex: 0 0 auto;
    background-color: #eee;
    width: 1020px;

}
