@font-face {
    font-family: 'Segoe UI Web (Vietnamese)';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-vietnamese/segoeui-light.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-vietnamese/segoeui-light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Web (Vietnamese)';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-vietnamese/segoeui-semilight.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-vietnamese/segoeui-semilight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Web (Vietnamese)';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-vietnamese/segoeui-regular.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-vietnamese/segoeui-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Web (Vietnamese)';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-vietnamese/segoeui-semibold.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-vietnamese/segoeui-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

body {
    height: 100%;
    font-family: 'Segoe UI Web (Vietnamese)', "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 600;
}

.fxs-portal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    transition: background .25s ease;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

.fxs-topbar {
    height: 40px;
    position: relative;
    z-index: 250;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 13px;
    color: #fff;
}

.fxs-portal-main {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    height: calc(100% - 40px);
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    min-height: 0;
}

.fxs-sidebar {
    position: relative;
    font-size: 13px;
    border: none; 
    height: calc(100vh - 40px);
    box-sizing: border-box;
    overflow: hidden;
    width: 230px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.fxs-sidebar.toggled {
    width: 57px;
    left: 0;
}

.fxs-panorama {
    -ms-scroll-chaining: none;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    transition: margin .2s ease;
    z-index: 1;
}

.fxs-blade-content-container {
    height: 100%;
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 0;
}

.fxs-block {
    flex: 0 0 auto;
    background-color: #eee;
    width: 320px;
}

.fxs-block.large {
    flex: 0 0 auto;
    background-color: #eee;
    width: 1020px;
}
