.scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    height: 600px;
    flex-direction: row;
}
/* .content {
    flex-direction: row;
} */

.block {
    flex: 0 0 auto;
    height: 100%;
    overflow-y: hidden;
    width: 435px;
}

.header {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brand {
    display: flex;
    flex-direction: row;
}

.body {
     height: 100%;
     width: 100%;
     display: flex;
    flex-direction: row;
}


.grid {
    height: 100%;
}
.grid-item {
    width: 145px;
    height: 145px;
    padding: 5px;
}

.grid-item-w2 {
    width: 290px
}

.grid-item-w3 {
    width: 435px;
}

.child {
    padding: 5px;
    background-color: gold;
    width: 100%;
    height: 100%;
}
