
.block {
    flex: 0 0 auto;
    height: 100%;
    overflow-y: hidden;
    margin: 10px;
    margin-left: 80px;
}

.block.fixwidth {
    width: 435px;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 145px);
    grid-auto-rows: 145px;
    grid-auto-columns: 145px;
    grid-auto-flow: row dense;

}

@media screen and (max-height: 700px) {
    .grid {
        max-height: 435px;
        overflow: hidden;
    }
    .g-holiz {
        grid-template-rows: repeat(3, 145px);
        grid-auto-flow: column dense;
    }
}

@media screen and (min-height: 701px) {
    .g-holiz {
        grid-template-rows: repeat(4, 145px);
        grid-auto-flow: column dense;
    }
}

.grid-item-w2 {
    grid-column: span 2;
}

.grid-item-w3 {
    grid-column: span 3;
}

.grid-item-h2 {
    grid-row: span 2;
}

.grid-item-h3 {
    grid-row: span 3;
}

.grid-item {
    padding: 5px;
    float: left;
    animation: scale .25s ease-out;
}

.grid-item-w2 .title-label {
    font-size: 18px;
    font-weight: 600;
}

.grid-item-w2 .title-label-icon {
    font-size: 18px;
    font-weight: 600;
}

.icon-background img {
    width: 58px;
    padding-top: 10px;
}

.child {
    padding: 5px;
    background-color: gold;
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@keyframes scale {
    0% {
        transform: scale(0.0);
    }
    100% {
        transform: scale(1.0);
    }
}

.title {
    color: #ffffff;
    font-size: 18px;
    line-height: 20px;
    float: left;
    position: relative;
    margin: 0;
    width: 100%;
    padding: 10px 60px 10px 5px;
}

.title-item {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.count-apps {
    margin-left: 5px;
    color: #fff;
    font-size: 12px;
}

.screen {
    background: linear-gradient(to bottom, #10b2e1 0%, #26ceeb 31%, #b9e8fa 100%);
    min-width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title-label {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    padding: 13px 10px 10px 10px;
    z-index: 9999;
    color: #fff;
    background: linear-gradient(to top, rgba(0, 0, 0, .60) 0, rgba(255, 255, 255, .05) 100%);
    font-size: 15px;
}

.title-label .icon img {
    width: 20px;
}

.title-label-icon .icon img {
    width: 20px;
}

.title-label-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    padding: 13px 10px 10px 10px;
    z-index: 9999;
    color: #fff;
    font-size: 15px;
}

.body .grid .grid-item .child .title-label .icon img {
    width: 20px;
}

.wrapper {
    background: linear-gradient(to bottom, #10b2e1 0%, #26ceeb 31%, #b9e8fa 100%);
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    padding-top: 100px;
    background-size: cover;
}

.header {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    float: left;
    margin-top: 30px;
    margin-left: 80px;
}

.logo img {
    float: left;
    width: 70px;
    height: 70px;
}

.logo span {
    float: left;
    margin: 15px 0 15px 5px;
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;
}

.search-home {
    padding: 45px 5px 45px 80px;
    width: 300px;
    float: right;
}

.input-control {
    display: inline-block;
    min-height: 34px;
    height: 35px;
    width: 100%;
    position: relative;
    vertical-align: middle;
    margin: 0;
    line-height: 1;
    position: relative;
}

.input-control .icon-search {
    position: absolute;
    top: 11px;
    left: 10px;
    color: #777;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.input-control input {
    padding: 9px 10px 9px 30px;
    border: none;
    height: 35px;
    line-height: 35px;
    width: 100%;
    color: #323232;
}

.controls {
    float: right;
    margin-top: 45px;
    margin-right: 50px;
}

.controls .user {
    float: left;
    margin-right: 2px;
}

.controls .user .name-user {
    background: #fff;
    padding: 7px 10px;
    height: 35px;
    line-height: 22px;
    float: left;
    margin-right: 4px;
    color: #323232;
}

.logo {
    float: left;
    margin-top: 30px;
    margin-left: 80px;
}

.input-control .icon-search {
    position: absolute;
    top: 11px;
    left: 10px;
    color: #777;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.input-control input {
    padding: 9px 10px 9px 30px;
    border: none;
    height: 35px;
    line-height: 35px;
    width: 100%;
    color: #323232;
}

.controls {
    float: right;
    margin-top: 45px;
    margin-right: 50px;
}

.controls .user {
    float: left;
    margin-right: 2px;
}

.controls .user .name-user {
    background: #fff;
    padding: 7px 10px;
    height: 35px;
    line-height: 22px;
    float: left;
    margin-right: 4px;
    color: #323232;
}

.controls .user .sign-up-now {
    background: #0f9cb3;
    color: #fff;
    padding: 7px 10px;
    height: 35px;
    line-height: 22px;
    float: left;
    margin-right: 2px;
    text-transform: uppercase;
}


/* Mobile css */

.m-nav {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
}

.m-brand {
    padding: 0 10px;
}

.m-brand-logo {
    margin-right: 10px;
    width: 42px;
    height: 42px;
}

.m-header-title {
    margin: 0;
    padding: 15px 10px 5px;
    font-size: 16px;
    color: #555;
}

 .m-body {
    /* background: url(https://sharinglife.blob.core.windows.net/images/file_d442c622-9f49-4165-a35a-32e302e9fbf8.svg) no-repeat center center fixed;    */
    background: #333;
}

.m-content {
    padding-top: 60px;
    float: left;
    background: #eee;
}

.m-item {
    padding: 5px 0;
    margin: 0 10px;
    border-bottom: rgba(0, 0, 0, .3) 1px solid;
}

.m-item:hover {
    text-decoration: none;
}

.m-cover {
    min-width: 60px;
    min-height: 60px;
    border-radius: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.m-categories {
    margin-bottom: 20px;
    background: #fff;
    width: 100%;
    float: left;
}

.title-services {
    padding: 0 10px;
    color: #555;
}

.account {
    color: #fff;
    padding: 0 15px;
    font-size: 18px;
    position: relative;
    float: right;
}

.dropdown-menu {
    top: 42px;
    right: -1px;
    left: auto !important;
    min-width: 120px;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.dropdown-menu .divider {
    margin: 0;
}

.dropdown-menu>li>a {
    padding: 7px 10px;
}

.dropdown-menu>li>a .icon {
    margin-right: 5px;
}

.search-mb {
    font-size: 18px;
    float: right;
    position: relative;
    padding: 0 5px;
}

.search-mb:hover,
.search-mb:focus {
    border: none;
}

.input-control.mb-home {
    min-height: 34px;
    height: 35px;
    display: block;
    vertical-align: middle;
    margin: 0 0 0 10px;
    position: relative;
    flex-basis: calc(100% - 100px);
}

.input-control.mb-home .icon-search {
    position: absolute;
    top: 11px;
    left: 10px;
    color: #777;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.input-control.mb-home input {
    padding: 9px 10px 9px 30px;
    border: none;
    height: 35px;
    line-height: 35px;
    width: 100%;
    color: #323232;
}

.fxs-panorama.home {
    height: calc(100vh - 100px);
}
