<ng-container *showItDevice="['desktop', 'tablet']">

    <div class="fxs-portal wrapper" fxLayoutAlign="start stretch" fxLayout="column" [ngStyle]="{'background-image': 'url('+ config?.Background +')'}">

        <div class="fxs-topbar header" [ngStyle]="{'background-color': (menus?.MauDam | async)} ">
            <div class="logo">
                <img *ngIf="config?.Logo" width="50px" [src]="config?.Logo">
                <span>{{config?.ThuongHieu}}</span>
            </div>
            <div class="controls">
                <div class="user">
                    <a href="#" class="name-user bt-sign-up" (click)="reLayout()">
                        <span class="fa fa-fw fa-sign-in icon" aria-hidden="true"></span>
                        Đăng nhập
                    </a>
                    <a href="#" class="sign-up-now bt-sign-up">
                        <span class="fa fa-fw fa-user-plus icon" aria-hidden="true"></span>
                        Đăng ký ngay
                    </a>
                </div>
                <!-- <div class="controls">
                    <a href="#" class="view-all" (click)="showMore()">
                      <span>Xem tất cả</span>
                      <i class="fa fa-fw fa-arrow-circle-o-right"></i>
                    </a>
                </div> -->
            </div>
            <div class="search-home">
                <div class="input-control text full-size">
                    <span class="glyphicon glyphicon-search icon-search" aria-hidden="true"></span>
                    <input type="text" placeholder="Tìm dịch vụ..." [(ngModel)]="searchKey">
                </div>
            </div>
        </div>


        <div fxLayout="row" fxLayoutAlign="start stretch" class="fxs-portal-main">
            <main class="fxs-panorama home">
                <div class="fxs-blade-content-container" *ngIf="menus">
                    <ng-container *ngFor="let blocks of menus; let bl_i = index">
                        <div class="block" [id]="blocks?.Id" [ngClass]="{'fixwidth': !blocks?.full}">
                            <div class="title">
                                {{blocks.Ten}}
                                <span class="count-apps">({{blocks?.items.length}} apps)</span>
                            </div>


                            <section class="grid" [ngClass]="{'g-holiz': blocks?.full}">
                                <ng-container *ngFor="let item of blocks?.items | homeFilter:searchKey">
                                    <div class="grid-item"  [ngClass]="
                                {
                                    'grid-item-w2': item.chieuRong==2,
                                    'grid-item-w3': item.chieuRong==3,
                                    'grid-item-h3': item.chieuCao==3,
                                    'grid-item-h2': item.chieuCao==2
                                }"
                                >
                                        <a class="child" *ngIf="item?.style == 'Icon'" [style.background-color]="item?.mauNen" [routerLink]="['/apps', item?.url]">
                                            <div class="icon-background" fxLayout="column" fxLayoutAlign="start center">
                                                <img src="{{item?.IconText}}">
                                            </div>
                                            <h4 class="title-label-icon">
                                                <span class="icon">
                                                        <img src="{{item?.IconText}}" aria-hidden="true">
                                                    </span> {{item.Ten}}
                                            </h4>
                                        </a>
                                        <a class="child" *ngIf="item?.style == 'Image'" [routerLink]="['/apps', item?.url]" [ngStyle]="{'background-image': 'url('+ item?.Images[0] +')'}">
                                            <h4 class="title-label">
                                                <span class="icon">
                                                        <img src="{{item?.IconText}}" aria-hidden="true">
                                                    </span> {{item.Ten}}
                                            </h4>

                                        </a>

                                        <div class="child" *ngIf="item?.style == 'Slide'">
                                            <h4 class="title-label">
                                                <span class="icon"><img src="{{item.IconText}}" aria-hidden="true"></span>                                                {{item.Ten}}
                                            </h4>
                                        </div>
                                    </div>
                                </ng-container>
                            </section>
                            <div class="bottom">
                                <a *ngIf="!blocks?.full" (click)="showMore(bl_i)" class="show-all">
                                  <span style="cursor: pointer">Xem tất cả</span>
                                  <i class="fa fa-fw fa-arrow-circle-o-right"></i>
                                </a>
                                <a *ngIf="blocks?.full" (click)="showLess(bl_i)" class="show-all">
                                  <span style="cursor: pointer">Thu gọn</span>
                                  <i class="fa fa-fw fa-arrow-circle-o-left"></i>
                                </a>
                            </div>
                            <!-- </div> -->
                            <!-- </div> -->
                        </div>

                    </ng-container>
                    <!-- thêm khoảng cách vào cuối cùng -->
                    <div style="padding:40px"> </div>
                </div>
            </main>
        </div>
    </div>
</ng-container>
<ng-container *showItDevice="['mobile']">
    <div class="m-body">
        <nav class="m-nav" fxLayout="row" [ngStyle]="{'background-color': config?.MauDam}" fxLayoutAlign="space-between center">
            <div *ngIf="!searchState" class="m-brand" fxLayout="row" fxLayoutAlign="start center">
                <img class="m-brand-logo" [src]="config?.Logo">
                <div>{{config?.ThuongHieu | uppercase}}</div>
            </div>
            <div *ngIf="searchState" class="input-control mb-home">
                <span class="glyphicon glyphicon-search icon-search" aria-hidden="true"></span>
                <input type="text" placeholder="Tìm dịch vụ...">
            </div>
            <div>
                <a href="#" class="account">
                    <span class="glyphicon glyphicon-user dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-hidden="true"></span>
                    <ul class="dropdown-menu">
                        <li><a href="#"><span class="fa fa-fw fa-sign-in icon" aria-hidden="true"></span>Đăng nhập</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><span class="fa fa-fw fa-user-plus icon" aria-hidden="true"></span>Đăng ký</a></li>
                </ul>
                </a>
                <div class="search-mb">
                    <span (click)="searchState=!searchState" class="glyphicon glyphicon-search dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" aria-hidden="true"></span>
                </div>
            </div>
        </nav>
        <div class="m-content">
            <ng-container *ngFor="let blocks of menus">
                <div class="m-header-title">{{blocks?.Ten | uppercase}}</div>
                <ng-container *ngFor="let item of blocks?.items">
                    <a [routerLink]="['/apps',item?.url]" class="m-item" fxLayout="row" fxLayoutAlign="start center">
                        <div class="m-cover" [ngStyle]="{'background-image': 'url('+ item?.Images[0] +')'}"></div>
                        <div class="title-services">
                            {{item?.Ten}}
                        </div>
                    </a>
                </ng-container>
            </ng-container>
        </div>
    </div>
</ng-container>
