<app-window [idea]="idea" [urlIdea]="urlIdea" [name]="name" [icon]=" iconText " [idIdea]="idIdea">
    <!-- searchbox -->
    <div class="search-box-top">
        <div class="input-control text full-size" data-role="input">
            <span class="fa fa-fw fa-search icon icon-search" aria-hidden="true"></span>
            <input type="text" placeholder="Nhập tên thuốc...">
        </div>

        <!-- đếm số thuốc -->
        <div style="padding: 5px 0 0 0;">
            <span style="font-size: 11px; color: #888; float: right;">
                   50/435 thuốc
                </span>
        </div>

        <hr class="thin bg-grayLighter">
    </div>
    <!-- Danh sách thuốc -->
    <div class="drugs-list-wr">
        <div class="row-l head">
            <div class="col w25">
                Tên
            </div>
            <div class="col w20">
                Hãng
            </div>
            <div class="col w10">
                Nước
            </div>
            <div class="col w10">
                Đóng gói
            </div>
            <div class="col w15">
                Hoạt chất
            </div>
            <div class="col w10">
                Đường dùng
            </div>
            <div class="col w10">
                Hàm lượng
            </div>
        </div>

        <div class="drugs-list">
            <div *ngIf="!empty">

                <a *ngFor="let thuoc of DsThuoc">

                    <div href="#" class="row-l">

                        <div class="col w25">
                            <span class="title">{{thuoc.Name}}</span>
                        </div>

                        <div class="col w20">
                            <span class="title">{{thuoc.Hang}}</span>
                        </div>

                        <div class="col w10">
                            <span class="title">{{thuoc.Nuoc}}</span>
                        </div>

                        <div class="col w10">
                            <span class="title">{{thuoc.DongGoi}}</span>
                        </div>

                        <div class="col w15">
                            <span class="title">{{thuoc.HoatChat}}</span>
                        </div>

                        <div class="col w10">
                            <span class="title">{{thuoc.DuongDung}}</span>
                        </div>

                        <div class="col w10">
                            <span class="title">{{thuoc.HamLuong}}</span>
                        </div>

                    </div>
                </a>
            </div>
        </div>
    </div>
</app-window>
