.input-control {
    display: inline-block;
    min-height: 27px;
    height: 27px;
    position: relative;
    vertical-align: middle;
    margin: 0;
    line-height: 1;
    position: relative;
}

.input-control .icon-search {
  position: absolute;
  top: 5px;
  left: 5px;
  color: #777;
}

.input-control input {
  width: 100%;
  padding:3px 5px;
  font-size: 13px;
  padding-left:25px;
  border: solid 1px #ccc;
  height: 25px;
}

.full-size {
    width: 100% !important;
}
