.search-box-top {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 20px 0 20px ;
    width: 100%;
    background: #fff;
    z-index: 100;
}



.search-box-top .text-light {
    margin-top: 5px;
    margin-bottom: 15px;
}

.search-box-top hr {
    margin-bottom: 0;
}

.text-light {
    font-weight: 600;
}

.input-control {
    display: inline-block;
    min-height: 27px;
    height: 27px;
    position: relative;
    vertical-align: middle;
    margin: 0;
    line-height: 1;
    position: relative;
}

.input-control .icon-search {
  position: absolute;
  top: 5px;
  left: 5px;
  color: #777;
}

.input-control input {
  width: 100%;
  padding:3px 5px;
  font-size: 13px;
  padding-left:25px;
  border: solid 1px #ccc;
  height: 25px;
}

.full-size {
    width: 100% !important;
}
