<!-- Start col left 2 -->

<!-- searchbox -->
<div class="search-box-top">
    <div class="input-control text full-size" data-role="input">
        <span class="fa fa-fw fa-search icon icon-search" aria-hidden="true"></span>
        <input type="text" placeholder="Nhập tên bệnh..." [formControl] = "searchKey">
    </div>

    <!-- đếm số bệnh -->
    <div style="padding: 5px 0 0 0;">
        <span style="font-size: 11px; color: #888; float: right;">
          {{startBenh}}-{{endBenh}}/{{TongSoLuong}} bệnh
        </span>
    </div>

    <hr class="thin bg-grayLighter">
</div>
<!-- loading gif -->
<div class="text-center">
    <p class="lead" *ngIf="loading">
        <img src="assets/66.gif">
    </p>
</div>

<ul class="scrollbar-custom list" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500" (scrolled)="onScroll()"
    [scrollWindow]="false">

    <!-- <li *ngFor="let benh of DsBenh" (click)="clickBenh(benh.Id)">
        <a>
          <span class="title" >{{benh.Name}}</span>
        </a>
    </li> -->
    <li *ngIf="!loading">
        <div class="text-center" *ngIf="empty">
            <p>
                <a> Không kết quả nào phù hợp</a>
            </p>
        </div>
        <div *ngIf="!empty">
            <a style="cursor: pointer;" *ngFor="let benh of DsBenh">
                <span class="title" (click)="clickBenh(benh.Id)">{{benh.Name}}</span>
            </a>
        </div>
    </li>
</ul>

<!-- end col left 2 -->
