<!-- Start col left 2 -->
<app-window [icon]="iconText" [idea]="true" [idIdea]="idIdea" [urlIdea]="urlIdea" [name]="name" [url]="url" *showItDevice="['desktop', 'tablet']">
    <div class="list-left-wr">
        <!-- searchbox -->
        <div class="search-box-top">
            <div class="input-control text full-size" data-role="input">
                <span class="fa fa-fw fa-search icon icon-search" aria-hidden="true"></span>
                <input #searchKey placeholder="Tìm kiếm theo tên bệnh" (keyup.enter) = "doSearch(searchKey.value)"
                 ngui-auto-complete [(ngModel)]="selected"
                 [source]="observableSource.bind(this)"
                 min-chars = "2"
                 (valueChanged)="doSearch($event)"
                 no-match-found-text = "Không có kết quả"
                 loading-text = "Đang tải..."
                 auto-select-first-item = true
                 list-formatter="Name">
                <!-- <input type="text" placeholder="Nhập tên bệnh..." [formControl]="searchKey"> -->
            </div>
            <!-- <app-autocomplete *ngIf="isSearch" (ReturnData)="getAutoComplete($event)" [apiUrl]="apiUrl" [term]="term"></app-autocomplete> -->
            <!-- <br/>selected model: {{selected | json}}<br/><br/> -->
        </div>
        <!-- đếm số bệnh -->
        <div style="padding: 0px 20px 0 0;margin-top: -20px;">
            <span style="font-size: 11px; color: #888; float: right;">
                {{endBenh}}/{{TongSoLuong}} bệnh
                </span>
        </div>

        <hr class="thin bg-grayLighter">

        <!-- loading gif -->
        <div class="text-center">
            <p class="lead" *ngIf="loading">
                <img src="assets/66.gif">
            </p>
        </div>
        <!-- list bệnh -->
        <ul class="scrollbar-custom list" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500" (scrolled)="onScroll()"
            [scrollWindow]="false">
            <li *ngIf="!loading">
                <div class="text-center" *ngIf="empty">
                    <p>
                        <a> Không kết quả nào phù hợp</a>
                    </p>
                </div>
                <div *ngIf="!empty">
                    <a *ngFor="let benh of DsBenh" style="cursor: pointer;" [routerLink]="['/apps/tracuubenh', benh.Id]">
                <span class="title" >{{benh.Name}}</span>
                    </a>
                    <a style="text-align: center;" *ngIf="loadingGif"><img src="assets/66.gif"></a>
                </div>
            </li>
        </ul>
        <!-- end col left 2 -->
    </div>
</app-window>


<!-- danh sacsh benh for mobile -->
<!-- danh sacsh benh for mobile -->
<!-- danh sacsh benh for mobile -->
<!-- Start col left 2 -->
<app-window [icon]="iconText" [name]="name" [url]="url" *showItDevice="['mobile']">
    <div class="list-left-wr mobile">
        <!-- searchbox -->
        <div class="search-box-top">
            <div class="input-control text full-size" data-role="input">
                <span class="fa fa-fw fa-search icon icon-search" aria-hidden="true"></span>
                <input type="text" placeholder="Nhập tên bệnh..." [formControl]="searchKey">
            </div>
            <!-- đếm số bệnh -->
            <div style="padding: 5px 0 0 0;">
                <span style="font-size: 11px; color: #888; float: right;">
          {{endBenh}}/{{TongSoLuong}} bệnh
        </span>
            </div>
            <hr class="thin bg-grayLighter">
        </div>
        <!-- loading gif -->
        <div class="text-center">
            <p class="lead" *ngIf="loading">
                <img src="assets/66.gif">
            </p>
        </div>
        <!-- list bệnh -->
        <ul class="scrollbar-custom list" infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="200" (scrolled)="onScroll()"
            [scrollWindow]="false">
            <li *ngIf="!loading">
                <div class="text-center" *ngIf="empty">
                    <p>
                        <a> Không kết quả nào phù hợp</a>
                    </p>
                </div>
                <div *ngIf="!empty">
                    <a *ngFor="let benh of DsBenh" style="cursor: pointer;" [routerLink]="['/apps/tracuubenh', benh.Id]">
                <span class="title" >{{benh.Name}}</span>
            </a>
                </div>
            </li>
        </ul>
        <!-- end col left 2 -->
    </div>
</app-window>
