<!-- Start content right -->
<div class="col-right">
    <!-- <div class="col-right-main scrollbar-custom"> -->
        <!-- <div class="box-2 " *ngFor="let baiviet of forumBarContent">
            <div class="box-header with-border">
                <div class="user-block">
                    <span class="username">
                  <a href="#">{{baiviet.TieuDe}}</a>
                </span>
                    <span class="description">Tác giả: {{baiviet.NguoiViet.Name}}
                </span>
                </div>
            </div>
            <div class="box-body">
                <p class="t-13px"> {{baiviet.TomTat}}
                </p>

                <button type="button" class="btn btn-default btn-xs">
                <i class="glyphicon glyphicon-share">
                </i> Chia sẻ
              </button>
                <button type="button" class="btn btn-default btn-xs">
                <i class="glyphicon glyphicon-thumbs-up">
                </i> Thích
              </button>
                <span class="pull-right text-muted">45 thích - 2 bình luận
              </span>
            </div>

        </div> -->
        <fb-comments class="forum-fb" orderBy="reverse_time" width="100%" numposts="5" href="http://idea.truongkhoa.com/Home/Index?Id={{idBenh}}"></fb-comments>
    <!-- </div> -->
</div>
<!-- End content right -->
